<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="icon" href="/img/心04.png" type="/image/x-icon"/>
    <link rel="stylesheet" href="/css/One_bdyStyle.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/One_mainFoot.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<body>
<header>
    <a name="mao1">
        <div class="header">

            <ul class="header-left">
                <li>
                    <a href="">首页</a>
                </li>

            </ul>
            <ul class="header-right">
                <li><a href="../登录页面\index.html" style="color: red;">你好，请登录</a></li>
                <li><a href="../注册页面\index.html" >免费注册</a></li>
                <li class="spacer"></li>
                <li><a href="">我的订单</a></li>
                <li class="spacer"></li>

            </ul>
            <div style="clear: both;"></div>
        </div>

    </a>
</header>




<div class="one_search">
    <div class="one_sousuo">
        <div class="one_search_top">
            <div class="one_top_left">
                <a href="../" class="one_left_logo"><img src="img/logo1.jpg"></a>
                <a href="#" class="one_left_link">购物车</a>
            </div>
            <div class="one_top_right">
                <input type="text" class="one_right_txt" placeholder="" onfocus="this.placeholder=''"  onblur="this.placeholder='' ">
                <input type="button" value="搜索" class="one_right_btn">
            </div>
        </div>
        <div class="one_search_load"   th:if="${userId}==null" >
            <img src="/img/shop_07.jpg" class="one_load_wraing">
            <span>您还没有登录！登录后购物车的商品将保存到您账号中</span>
            <a href="#"><input type="button" onclick="login()" value="立即登录" class="one_load_btn"></a>
        </div>
    </div>
</div>
<div class="One_BdyShop">
    <div class="OneBdy_box">
        <div class="One_tabTop">
            <div class="One_Topleft">
                <span>全部商品 </span>

            </div>

        </div>

        <div id="cartListInner"><div th:include="cartListInner"></div></div>

    </div>
</div>

<div class="One_isDel">
    <p>
        <span>删除</span><span><img src="img/错误.png" alt=""></span>
    </p>
    <div>
        <dl>
            <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
            <dd>
                <li>删除商品？</li>
                <li>您可以选择移到关注，或删除商品。</li>
            </dd>
        </dl>
    </div>
    <div>
        <button type="button">删除</button>

    </div>
</div>
<div class="One_moveGzIfNull">
    <p>
        <span>删除</span><span><img src="img/错误.png" alt=""></span>
    </p>
    <dl>
        <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
        <dd>请至少选中一件商品！</dd>
    </dl>
</div>
<div class="One_moveMyGz">
    <p>
        <span>删除</span><span><img src="img/错误.png" alt=""></span>
    </p>
    <div>
        <dl>
            <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
            <dd>
                <li>移到关注</li>
                <li>移动后选中商品将不再购物车中显示</li>
            </dd>
        </dl>
    </div>
    <div>
        <button type="button">确定</button>
        <button type="button">取消</button>
    </div>
</div>
<div class="One_clearShop">
    <p>
        <span>提示</span><span><img src="img/错误.png" alt=""></span>
    </p>
    <dl>
        <dt><img src="img/感叹三角形 (2).png" alt=""></dt>
        <dd>没有下柜商品!</dd>
    </dl>
</div>


<!--底部-->

<div class="one_footer">

</div>
</body>
<script src="/js/index.js" charset="utf-8"></script>
<script type="text/javascript">

    function toTrade(){
        window.location.href="http://order.neusoft.com:8081/toTrade";
    }
    function toItem(skuId) {
        window.location.href="http://item.neusoft.com:8088/"+skuId+".html";
    }

    function login(){
        var s = encodeURIComponent("http://cart.neusoft.com:8087/cartList");
        window.location.href="http://passport.neusoft.com/index?originUrl="+s;
    }

    function checkSku( chkbox){
        var skuId= $(chkbox).attr("value");
        var checked=$(chkbox).prop("checked");
        var isCheckedFlag="0";
        if(checked){
            isCheckedFlag="1";
        }
        var param="isChecked="+isCheckedFlag+"&"+"skuId="+skuId;
        $.post("checkCart",param,function (html) {
            $("#cartListInner").html(html)
        });

    }

    function checkAll(){
        var cc = $(".check");
        var cartList = {};
        $(cc).each(function (i,sku) {
            cartList[i] = $(sku).val();
        })

    }


    //封装总价钱函数
    // function sumSumPrice(){
    //    var zzj=0;
    //    $(".check").each(function () {
    //        if($(this).prop("checked")){
    //            var zj = $(this).parents("ol").find(".zj").html().substring(1);
    //             zzj=zzj+parseFloat(zj);
    //        }
    //        $(".fnt").html("￥"+zzj+".00")
    //    });
    // }

    /*    //购物车结算固定定位
        $(document).scroll(function(){
            if($(window).scrollTop()>50){
                $(".fix").hide();
            }else{
                $(".fix").show();
            }
        })*/


    //购物车顶端tab
    $(".One_Topleft span:last-child").mouseover(function(){
        $(".One_Topleft span:first-child").css({"color":"black","border-bottom":"none"})
        $(this).css({"cursor":"pointer","color":"#E4393C","border-bottom":"2px solid red"})
    }).mouseout(function(){
        $(this).css({"color":"black","border-bottom":"none"});
        $(".One_Topleft span:first-child").css({"cursor":"pointer","color":"#E4393C","border-bottom":"2px solid red"})
    })
    //立即登录
    $(".one_search_load input:button").click(function(){
        $(".One_mb").show();
        $(".One_DengLu").show();
    })
    //去结算
    $(".One_ShopFootBuy>div:last-child button").mouseover(function(){
        $(this).css("cursor","pointer");
    })
    $(".One_ShopFootBuy>div:last-child button").click(function(){
        $(".One_mb").show();
        $(".One_DengLu").show();
    })
    //buyNum
    $(".One_ShopFootBuy>div:nth-child(2)").mouseover(function(){
        $(this).css("cursor","pointer")
    })
    $(".One_ShopFootBuy>div:nth-child(2)").click(function(){
        $(this).children("ol").toggle();
        $(this).children("ul").toggle();
        var dis=$(".One_ShopFootBuy>div:nth-child(2) ol").css("display");
        if(dis=="none"){
            $(".One_ShopFootBuy>div:nth-child(2) img").css("transform","rotateX(0)")
        }else if(dis=="block"){
            $(".One_ShopFootBuy>div:nth-child(2) img").css("transform","rotateX(180deg)")
        }
    })
    //右侧固定定位
    $(".One_RightFix ul>li:not(:first-child)").mouseover(function(){
        $(this).css({"cursor":"pointer","background":"#C91423"})
        $(this).children("ol").stop().animate({"left":"-75px"},200)
    }).mouseout(function(){
        $(this).css("background","#7A6E6E");
        $(this).children("ol").stop().animate({"left":"75px"},200)
    })
    //右侧底部固定定位
    $(".One_RightbtmFix ul>li").mouseover(function(){
        $(this).css({"cursor":"pointer","background":"#C91423"})
        $(this).children("ol").stop().animate({"left":"-55px"},200)
    }).mouseout(function(){
        $(this).css("background","#7A6E6E");
        $(this).children("ol").stop().animate({"left":"55px"},200)
    })
    //登录弹框tab切换
    $(".One_DengLu>div:nth-child(3) ul li").mouseover(function(){
        $(this).css("cursor","pointer")
    })
    $(".One_DengLu>div:nth-child(3) ul li").click(function(){
        var i=$(this).index();
        $(this).css({"color":"#E64346","font-weight":"bold"})
            .siblings("li").css({"color":"black","font-weight":"normal"})
        $(".One_DengLu>div:nth-child(3) ol li").eq(i).show().siblings().hide()
    })
    //优惠券
    $(".One_ShopBottom>div:nth-child(2) img").click(function(){
        $(".One_mb").show();
        $(".One_DengLu").show();
    })
    //配送地址hover效果
    $(".One_Topright span:last-child").mouseover(function(){
        $(this).children(".One_Local").css("display","block")
    }).mouseout(function(){
        $(".One_Local>ul>li").eq(0).children("ol").css("display","block")
        $(this).children(".One_Local").css("display","none")
    })

    $(".One_Local>ul>li").eq(0).children("ol").css("display","block")
    $(".One_Local>ul>li").mouseover(function(){
        var i=$(this).index();
        $(this).css("cursor","pointer");
        $(this).children("ol").css("display","block")
    }).mouseout(function(){
        $(".One_Local>ul>li").eq(0).children("ol").css("display","block")
        $(this).children("ol").css("display","none")
    })

    $(".One_Local>ul>li>ol li").mouseover(function(){
        $(this).css({"cursor":"pointer","color":"#e64346"})
    }).mouseout(function(){
        $(this).css("color","#005AA0")
    })

    $(".One_Local>ul>li>ol li").click(function(){
        $(this).parent().parent().children("label").html($(this).html())
    })

    //封装总价钱函数
    function sumSumPrice(){
        console.log("计算总价");
        var zzj=0;
        $(".check").each(function () {


            if($(this).prop("checked")){
                console.log("check!!"+ $(this).parents("ol").find(".zj").html());
                var zj = $(this).parents("ol").find(".zj").html().substring(1);
                console.log(" 价格："+zj);
                zzj=zzj+parseFloat(zj);
            }
            $(".fnt").html("￥"+zzj+".00")
        })

        /*        $(".One_ShopCon ul li>div:nth-child(2) ol li:nth-child(5) .zj").each(function(){
                    kong+=parseFloat($(this).html().substring(1))
                })
                $(".fnt").html("￥"+kong+".00")*/
    }
    //封装总数量函数
    function sumSumNum(){
        var kong=0;
        $(".One_ShopCon ul li>div:nth-child(2) ol>li:nth-child(4) p:first-child span:nth-child(2)").each(function(){
            kong+=parseFloat($(this).html())
        })
        $(".sumNum").html(kong);
    }

    $(".One_ShopCon ul li>div:nth-child(2)>ol>li:nth-child(2)>dd").mouseover(function(){
        $(this).css({"cursor":"pointer","color":"#e64346"})
    }).mouseout(function(){
        $(this).css("color","black")
    })
    //更多促销下拉
    $(".One_ShopCon ul li>div:nth-child(2) ol li:nth-child(3) p:nth-child(2)").click(function(){
        $(this).parent().children(".nmbd").slideToggle(300);
        var dis=$(this).parent().children(".nmbd").css("display");
        console.log(dis);
        // if(dis=="block"){
        // 	$(".hahaha").css("transform","rotateX(-180deg)")
        // }else{
        // 	$(".hahaha").css("transform","rotateX(360deg)")
        // }
    })
    $(".nmbd dd:last-child button:first-child").click(function(){
        $(this).parent().parent().slideUp(100)
    })
    $(".nmbd dd:last-child button:last-child").click(function(){
        $(this).parent().parent().slideUp(100)
    })










    //active
    $(".one_main_div1 .one_main_ul>li").mouseover(function(){
        $(".one_main_div1 .one_main_ul>li").removeClass("active");
        $(this).addClass("active");
    })
    //选项卡
    $(".one_main_div1 .one_main_ul li").mouseover(function() {
        $(".one_main_div1_1").eq($(this).index()).stop(true).show().siblings().stop(true).hide()
    })

    $(function() {
        //声明变量记录索引
        var index = 0;
        //点击右边按钮
        //忽略重复点击开关
        var toggle = true
        $(".arrow-right").click(function() {

            if (toggle == false) {
                return
            }
            toggle = false
            index++;
            if (index > $('.fade li').length - 1) {
                index = 0;
            }

        });

        //点击左边按钮
        $(".arrow-left").click(function() {
            if (toggle == false) {
                return
            }
            toggle = false
            index--;
            if (index < 0) {
                index = $('.fade li').length - 1;
            }
            $('.pagination ul li').eq(index).addClass('active').siblings().removeClass('active')
            $(".slider>ul>li").eq(index).fadeIn(500, function() {
                toggle = true
            }).siblings("li").fadeOut(500);
        });
        //点击分页器
        $('.pagination ul li').mouseover(function() {
            var paging = $(this).index()
            //变颜色
            $(this).addClass('active').siblings().removeClass('active')
            //与图片关联
            $(".slider>ul>li").eq(paging).fadeIn(1000).siblings("li").fadeOut(1000);

        })
    });
    $(".fade li>div a").mouseover(function(){
        $(this).children("p").children("img").attr("src","img/one_mian_gwc2.png")
    }).mouseout(function(){
        $(this).children("p").children("img").attr("src","img/one_mian_gwc1.png")
    })
</script>
</html>

